body{
  overflow-x:hidden;
}

.nous {
   padding: 100px 50px 100px 50px;
}

.nouscolumns {
  margin: 0 auto;
  text-align: center;
  padding-top:30px;
}

.imgnous {
  width: 100%;
  padding-bottom: 30px;  

  &:hover {
    filter: opacity(0.5);
  }
}
.columnous {
  padding: 0px 35px 35px 35px;
}

.video {
  padding: 40px;
  margin:10px 0px 10px 0px;
}

.videopan { 
  margin: 0 auto;
}




